/* Reset styles */
* {
	margin: 0;
	border: 0;
	padding: 0;
	
	box-sizing: border-box;
	
	font-family: "Open Sans", sans-serif;
}

*::before, *::after {
	box-sizing: inherit;
}

/* HTML and Body elements */
html, body {
	width: 100%;
	
	background-color: #dfdfdf;
}

/* Container */
.container {
	margin: 0 auto;
	padding: 1rem;
	
	max-width: 64rem;

/* Semantic elements */
header {
	padding: 2rem;
	border-bottom: solid 1px black;
	
	width: 100%;
	
	background-color: #2f2f2f;
}

article {
	background-color: #ffffff;
}

/* Normal formatting things */
h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif;
}

p {
	text-indent: 1em;
}
